body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
  }

header {
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

main {
    height: calc(100vh - 150px); /* Subtract header and navigation box height */
  }

  #map {
    height: 100%;
    width: 100%;
  }
  
  #infoPanel {
    margin: 10px;
  }

  ul#searchResults{
  display: none;
}