body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  #map {
    height: 100vh;
    width: 100%;
  }
  
  #navigation_box {
    margin: 0 auto;
    display: block;
    width: 100vw;
    max-width: 600px;
  }

  #search {
    width: 100%;
  }